body {
  position: relative;
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: #e0d1e2;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: inherit;
  -webkit-filter: blur(5px);
  filter: blur(5px);
  z-index: -1;
}

.container {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  transition: box-shadow 0.3s ease;
  position: relative;
  z-index: 1;
}

.container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

h1 {
  color: #000000;
}

label {
  font-size: 16px;
  font-weight: bold;
}

.input-group {
  margin-bottom: 20px;
  transition: transform 0.3s ease;
}

.input-group:hover {
  transform: scale(1.05);
}

.btn-primary {
  background-color: #007bff;
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #0056b3;
  transform: scale(1.1);
}

.card {
  border: none;
  border-radius: 10px;
  transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  transform: scale(1.05);
}

.modal-content {
  border-radius: 10px;
}

.modal-body img {
  border-radius: 10px;
  transition: filter 0.3s ease;
  display: none;
}

body {
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
  position: relative;
  margin: 0;
  padding: 0;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
